footer {
    font-size: 17px;
    text-align: center;
    margin-top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: solid underline;
    background-color: #F9B572;
    color: #654B2E; 
}